include ChangeLog
include requirements_dev.txt
include README.rst

graft getconf
graft docs

prune tests

global-exclude *.py[cod] __pycache__ *.so .*.swp *~

# Be explicit to make check-manifest happy.
exclude .pylintrc
exclude Makefile
exclude release.conf
